@{
    ViewData["Title"] = "Login Page";
}
<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous">
</script>
<script>
        $(document).ready(function(){
         var productContent = '';  
      $.get("http://localhost:55617/ProductApi/ListProduct", function(data, status){
      }
</script>

<div >
    <h2 class="text-center mb-4">Products</h2>
  
    <div id="dvProductList" class="row row-cols-1 row-cols-md-3 g-4">
        
    </div>
</div>


