
<script src="~/js/controller/productcontroller.js"></script>
<script src="~/js/servies/productservice.js"></script>
<script>
   
    $(document).ready(function(){
       ProductController.LoadCartProductForCheckout()
    }) 
    
</script>
<div id="checkoutBox">

</div>