@* @{
    ViewData["Title"] = "Product Page";
} *@
<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous">
</script>
<script>
        $(document).ready(function(){
         var productContent = '';  
      $.get("http://localhost:55617/ProductApi/ListProduct", function(data, status){
         $.each(data,function (index,value) {

             productContent = productContent+ `
                
             <div class="col">
             <div class="card h-80">
            <img src="${value.picture}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Name : ${value.name}</h5>
                <h5 class=" card-title">Price : <s>${value.price}</s> ${value.price} </h5>
                <h5 class="card-title">Quantity : ${value.quantity}</h5>
                <button type="button" class="btn btn-primary">ADD TO CART</button>
            </div>
        </div>
    </div>
             `;
             console.log(value)
         })
        $('#dvProductList').html(productContent)
      });
     
    });
</script>

<div >
    <h2 class="text-center mb-4">Products</h2>
  
    <div id="dvProductList" class="row row-cols-1 row-cols-md-3 g-4">
        
    </div>
</div>


