@{
    ViewData["Title"] = "Product Page";
}
<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous">
</script>
<script src="~/js/controller/productcontroller.js"></script>
<script src="~/js/servies/productservice.js"></script>
<script>
        $(document).ready(function(){
        ProductController.lstProduct();
     
    });
</script>

<div >
    <h2 class="text-center mb-4">Products</h2>
  
    <div id="dvProductList" class="row row-cols-1 row-cols-lg-4 g-4">
        
    </div>
</div>

@Html.Partial("~/views/common/_partialviewcart.cshtml")

