@{
    ViewData["Title"] = "Product Page";
}

<script src="~/js/controller/productcontroller.js"></script>
<script src="~/js/servies/productservice.js"></script>
<script>
     // var categoryName = @ViewBag.ProductId
     // console.log(categoryName);
        $(document).ready(function(){
             if (localStorage.getItem("CategoryName") != null && localStorage.getItem("CategoryName") != undefined) {
             
               console.log(localStorage.getItem("CategoryName"))
                ProductController.LoadByCategoryProducts(localStorage.getItem("CategoryName"))
            



         }
       ProductController.lstProduct();
         ProductController.LoadCartProductCommon()
          ProductController.LoadCategory()
           

   });
</script>

<div >
    <h2 class="text-center mb-4">Products</h2>
  
    <div id="dvProductList" class="row row-cols-1 row-cols-lg-4 g-4">
        
    </div>
</div>

@Html.Partial("~/views/common/_partialleftbar.cshtml")

