@{
    ViewData["Title"] = "Product Page";
}

<script src="~/js/controller/productcontroller.js"></script>
<script src="~/js/servies/productservice.js"></script>
<script>
        $(document).ready(function(){
        ProductController.lstProduct();
     
    });
</script>

<div >
    <h2 class="text-center mb-4">Products</h2>
  
    <div id="dvProductList" class="row row-cols-1 row-cols-lg-4 g-4">
        
    </div>
</div>



