@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
<ul>
    <li class="nav-link" style="color:white">demo1</li>
    <li class="nav-link" style="color:white">demo2</li>
    <li class="nav-link"style="color:white">demo3</li>
    <li class="nav-link"style="color:white">demo4</li>
</ul>
